.font1{font-family: 'Bungee', cursive;}
.font2{font-family: 'Slabo 27px', serif;}
/* .fontcolour{color: ;}
.bgcolour{background-color: } */
.mar0auto{margin: 0 auto;}
.container{display: flex;}
.flex-1{flex: 1;}
.flex-2{flex: 2;}
.center{text-align: center;}
.right{text-align: right;}
