h1, h2 { 
  font-family: 'Bungee', cursive;
}

p { 
  font-family: 'Slabo 27px', serif;
}

.button-container {
  text-align: center;
  margin: 20px auto;
}

.button-container__button {
  font-size: 20px;
  border-radius: 10%;
  cursor: pointer;
  padding: 15px;
  display: inline;
}

.button-container__button:hover {
  
}

.cards-container {
  display: flex;
  margin: 10px 40px;
  justify-content: space-between
}

.cards-container__topic
{
  text-align: right;
  flex-basis: 45%;
}

.cards-container__card {
  flex-basis: 45%;
}

.cards-container__individual {
}

.active-topic { 
  background-color: black;
  color: white;
}

.cards { 
  margin: 0 auto
}

.center {
  text-align: center;
}

.active-topic {
  background-color: black;
  color: white;
}