body{
  background: black;

}

h1, h2 { 
  font-family: 'Bungee', cursive;
  color: #fedc3d;
}

p { 
  font-family: 'Slabo 27px', serif;
  color: #fedc3d;
}

.title {
  text-align: center;
}

.button-container {
  text-align: center;
  margin: 20px auto;
}

.button-container__button {
  font-size: 20px;
  border-radius: 10%;
  cursor: pointer;
  padding: 15px;
  display: inline;
}

.button-container__button:hover {
 transition: background-color 0.5s ease;
 background-color: #ffe469;
 color: black;
}

.cards-container {
  display: flex;
  margin: 10px 40px;
}

.cards-container__topic
{
  margin-right: 15px;
  flex: 1;
  text-align: right;
}

.cards-container__card {
  margin-left: 15px;
  flex: 1;
}

.cards-container__individual {
}

.active-topic { 
  color: white;
}

#timer {
  text-align: center;
  font-size: 18px
}
